.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--background-secondary);
  padding: 4px 16px;
  position: relative;
  z-index: 100;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  flex-wrap: wrap;
  @media (prefers-color-scheme: dark) {
    box-shadow: none;
    border-bottom: 1px solid var(--border);
  }
  h1 {
    font-size: inherit;
    font-weight: bold;
    button {
      border-radius: 4px;
      cursor: pointer;
      &:focus-visible {
        outline: 2px solid var(--highlight);
        outline-offset: 2px;
      }
    }
  }

  button svg {
    height: 8px;
    width: 16px;
    height: 16px;
    translate: 0 -4px;
    margin: 0 -6px -8px;
  }
}

.navbar__tools {
  display: flex;
  gap: 8px;
}

@media (max-width: 480px) {
  .navbar h1 {
    width: 100%;
  }
}
