.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--background-secondary);
  padding: 4px 16px;
  box-shadow: 0 0 2px rgba(0, 0, 0, 0.2);
  @media (prefers-color-scheme: dark) {
    box-shadow: none;
    border-bottom: 1px solid var(--border);
  }
  h1 {
    font-size: inherit;
    font-weight: bold;
    button {
      cursor: pointer;
    }
  }
}

.navbar__tools {
  display: flex;
  gap: 8px;
}
