.navbar {
  width: 100vw;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: var(--background-secondary);
  border-bottom: 1px solid var(--border);
  padding: 4px 16px;
  h1 {
    font-size: inherit;
    font-weight: bold;
  }
}

.navbar__tools {
  display: flex;
  gap: 8px;
}
