.about {
  --small: 0.6em;
  display: flex;
  flex-direction: column;
  height: 100%;
}
.about * {
  margin: 0;
  padding: 0;
  font-size: inherit;
}
.about__content {
  padding: 0.5rem 1rem;
}
.about__header {
  background: var(--background);
  text-align: center;
  border-bottom: 1px solid var(--border);
}
.about__heading {
  font-size: 2rem;
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 8px;
  margin-bottom: 8px;
}
.about__name {
  line-height: 0.8;
}
.about__legal,
.about__version {
  font-size: 0.8rem;
  font-weight: normal;
}
.about__legal {
  font-style: italic;
  opacity: 0.8;
  margin-bottom: 6px;
}
.about__icon {
  width: 48px;
  height: 48px;
  margin: 8px 0;
}
.about__links {
  display: flex;
  align-items: center;
  justify-content: center;
  li:first-child {
    list-style: none;
  }
  li:not(:first-child) {
    margin-left: 1.4em;
  }
}

.about__body {
  background: var(--background-secondary);
  padding-top: 16px;
  padding-bottom: 16px;
  flex: 1;
  p {
    margin-bottom: 8px;
  }
}
.about table {
  width: 100%;
  border-collapse: collapse;
  border: 1px solid var(--border);
  td {
    border: 1px solid var(--border);
    border-style: solid none;
    padding: 4px 8px;
  }
  tr:nth-child(2n + 1) {
    background: var(--background);
  }
  tr:first-child td {
    border-top: none;
  }
}
