:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  --highlight: #109d59;
  --highlightDark: #0a332e;
  --highlightDarkest: #111f1f;
  --highlightLight: #6ae3a8;
  --highlightLightest: #bbf0d6;

  --text: #222;
  --background: #fffffe;
  --background-secondary: #f1f1f1;
  --border: #c0bfc9;
  --background-hover: var(--highlightLightest);
  --background-active: var(--highlightLight);
  --linkColour: var(--highlightDarkest);

  color: var(--text);
  background-color: var(--background);

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

@media (prefers-color-scheme: dark) {
  :root {
    --text: #e8e8e8;
    --background: #111112ff;
    --background-secondary: #0b0c0d;
    --border: #23232b;
    --background-hover: var(--highlightDarkest);
    --background-active: var(--highlightDark);
    --linkColour: var(--highlightLight);
  }
}

* {
  box-sizing: border-box;
}

body {
  margin: 0;
}
.app {
  min-height: 100dvh;
  display: flex;
  flex-direction: column;
}
.app--is-dropping {
  opacity: 0.5;
}
.monaco-editor--is-dropping {
  pointer-events: none;
}

input,
.select,
select,
button {
  &:not(.reset) {
    border-radius: 4px;
    color: var(--text);
    background-color: var(--background);
    padding: 8px 16px;
    border: 1px solid var(--border);
    outline: 2px solid transparent;
    outline-offset: 2px;
    transition: all 0.1s;
    position: relative;

    &:disabled {
      opacity: 0.5;
      cursor: not-allowed;
    }
    &:not(:disabled) {
      cursor: pointer;
      &:hover,
      &:focus-visible {
        background-color: var(--background-hover);
      }
      &:active {
        background-color: var(--background-active);
      }
    }
    &:focus-visible {
      z-index: 2 !important;
      outline: 2px solid var(--highlight);
      outline-offset: 2px;
    }
  }
}

.select:not(.reset) {
  padding: 0;
  display: inline-flex;
  select {
    -webkit-appearance: none;
    padding: 8px 16px;
    background: transparent !important;
    color: inherit;
    border: none;
  }
  &::after {
    content: "";
    position: absolute;
    right: 8px;
    top: calc(50% - 3px);
    width: 10px;
    height: 6px;
    background: var(--text);
    opacity: 0.5;
    clip-path: polygon(0% 0%, 100% 0%, 50% 100%);
  }
}

input,
select,
button {
  &.reset {
    border: none;
    margin: 0;
    padding: 0;
    font-size: inherit;
    font-family: inherit;
    background-color: transparent;
  }
}

.btn-group {
  button {
    position: relative;
    z-index: 1;
  }
  button:not(.reset):first-child {
    border-radius: 4px 0 0 4px;
  }
  button:not(.reset) + button:not(.reset) {
    border-radius: 0 4px 4px 0;
    margin-left: -1px;
  }
}

.sr-only {
  position: absolute;
  left: -10000px;
  top: auto;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

a:not(.bespoke) {
  color: var(--linkColour);
  border-radius: 4px;
  &:hover,
  &:focus {
    color: var(--text);
  }
  &:active {
    color: var(--linkColour);
    opacity: 0.8;
  }
  &:focus-visible {
    outline: 2px solid var(--highlight);
    outline-offset: 2px;
  }
}
