body {
  padding-top: 10px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica,
    Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";

  font-size: 18px;
  background: white;
  color: #444;
}
* {
  margin: 0;
  padding: 0;
}
.ratio-169 {
  position: relative;
  width: 100%;
  padding-bottom: 56.25%;
}
.ratio-169 iframe {
  position: absolute;
  display: block;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
}
.accessibility {
  position: absolute;
  width: 1px;
  overflow: hidden;
  left: -1000px;
}

header,
.herocontents,
.testimonials,
footer {
  max-width: 800px;
  margin: 0 auto;
}

.mt {
  margin-top: 20px;
}

/* Header */
header {
  overflow: hidden;
  padding: 20px;
}
header h1 {
  float: left;
  font-size: 24px;
}
header h1 small {
  display: block;
  font-weight: normal;
  color: #666;
}
header ul {
  float: right;
  margin-top: 15px;
}
header li {
  display: inline-block;
  list-style: none;
  margin-left: 15px;
}
header li a {
  color: black;
  text-decoration: none;
  border-radius: 20px;
}
header li .primary {
  color: #6badf6;
  border: 1px solid #6badf6;
  padding: 5px 15px;
}
header li a:hover,
header li a:focus {
  text-decoration: underline;
  border-color: #b4d3f6;
}

/* hero */
.hero {
  background: linear-gradient(to bottom, #6badf6, #4c8bf5);
  color: white;
  text-align: center;
  padding: 40px 20px;
}
.lead {
  font-size: 42px;
  line-height: 1;
}

/* testimonials */
.testimonials {
  padding: 40px 20px;
  text-align: center;
}
.testimonials blockquote {
  font-size: 24px;
  margin-top: 60px;
  color: black;
}

/* footer */
footer {
  padding: 20px;
}
